<div class="container ">
    <h2 class="my-5 text-center"><strong>{{ article.title }}</strong></h2>
    <h3 class="my-4 text-center">{{ article.subtitle }}</h3>
    <h4 class="my-3 text-center"><u>{{ article.category }}</u></h4>
    <div class="text-center">
      <img *ngIf="article.image_data != null && article.image_media_type != null"
            class="card-img-top mb-3" [src]="'data:' + article.image_media_type + ';base64,' + article.image_data"
            style="width: 50%; height: auto;"/>
    </div>
    <h5 class="my-3" [innerHTML]="article.abstract"></h5>
    <p class="my-5" [innerHTML]="article.body"></p>
    <div class="border-bottom border-top d-flex flex-row mb-3" style="background-color: #f3f3f3;"></div>
    <p class="card-text"><small class="text-muted">Last updated: {{ article.update_date }} by User ID: {{ article.id_user }}</small></p>
    <!-- <p class="card-text"><small class="text-muted">Last updated: {{ article.update_date }} by Username: {{ article.user_last_edit }}</small></p>-->
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-dark mx-3" (click)="back()">Back</button>
</div>