<app-login></app-login>

<form #myForm="ngForm">

<div class="form-text mb-2" id="basic-addon4">Title*</div>
<div class="input-group p-1 mb-3">
    <input type="text" class="form-control border-dark" [(ngModel)]="article.title" name="title" required>
</div>

<div class="form-text mb-2" id="basic-addon4">Subtitle*</div>
<div class="input-group p-1 mb-3">
    <input type="text" class="form-control border-dark" [(ngModel)]="article.subtitle" name="subtitle" required>
</div>

<div class="mb-3">
    <div class="form-text mb-2" id="basic-addon4">Category*</div>
    <select class="form-select bg-light mb-3" style="max-width: 300px;" [(ngModel)]="article.category" name="category" required>
        <option *ngFor="let category of listCategory" [value]="category">
            {{category}}
        </option>
    </select>
</div>

<div class="mb-3">
  <input class="form-control p-1" type="file" id="formFile"(change)="fileChangeEvent($event)" [(ngModel)]="article.thumbnail_image" name="thumbnail_image">
  <div *ngIf="imageError" class="text-danger">{{ imageError }}</div>
</div>

<div class="form-text mb-2" id="basic-addon4">Abstract*</div>
<div class="input-group p-1 mb-3">
    <input type="text" class="form-control border-dark" [(ngModel)]="article.abstract" name="abstract" required>
</div>

<div class="form-text mb-2" id="basic-addon4">Body</div>
<div class="input-group p-1 mb-3">
    <textarea class="form-control border-dark wrap-text" rows="5" [(ngModel)]="body" name="body"></textarea>
</div>

<div>
    <button class="btn btn-dark mx-3" type="submit" [disabled]="!myForm.form.valid" (click)="save()">Save</button>
    <button class="btn btn-dark mx-3" (click)="back()">Back</button>
</div>

</form>

<div class="text-center">
    <h2>{{ article.title }}</h2> 
    <h3>{{ article.subtitle }}</h3> 
    <h4>{{ article.category }}</h4> 
    <img [src]="'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image "> 
    <h5>{{ article.abstract }}</h5>
    <h6>{{ body }}</h6>
</div>